<div class="recruits-new">
  <div class="row">
      <div class="text-center mx-auto bg-primary py-2 shadow col-3 rounded mt-5">
        <h1 class="pt-2">対戦相手募集</h1>
      </div>
  </div>
    <div class="container">
      <div class="form-group h4 col-7 p-0 text-white">
          <label for="exampleFormControlInput1">エリア</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="メールアドレス">
      </div>
      <div class="form-group h4 col-7 p-0 text-white">
          <label for="exampleFormControlInput1">チームレベル</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="メールアドレス">
      </div>
      <div class="form-group h4 col-7 p-0 text-white"> <label for="date">日時</label>
        <input type="date" class="form-control form-control-lg" id="date">
      </div>
       
    </div>  
</div>    
    