<div class="recruits-new">
  <div class="row">
    <div class="col mt-4">
      <%= link_to home_top_path do %> 
      <button class="float-right mr-3 bg-info btn btn-info">TOPに戻る</button>
      <% end %>
    </div>
  </div>
    <div class="text-center mx-auto bg-primary py-2 shadow col-3 rounded mt-5">
      <h1 class="pt-2">対戦相手募集</h1>
    </div>
    <div class="container">
      <div class="form-group h4 col-7 p-0 text-white">
          <label for="exampleFormControlInput1">エリア</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="メールアドレス">
      </div>
      <div class="form-group h4 col-7 p-0 text-white">
          <label for="exampleFormControlInput1">チームレベル</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="メールアドレス">
      </div>
      <div class="form-group h4 col-7 p-0 text-white">
        <label for="exampleFormControlInput1">開始日時</label>
        <input type="datetime-local" class="form-control form-control-lg" id="exampleFormControlInput1">
      </div>
      <div class="form-group h4 col-7 p-0 text-white">
        <label for="exampleFormControlInput1">終了日時</label>
        <input type="datetime-local" class="form-control form-control-lg" id="exampleFormControlInput1">
      </div>
      <div class="form-group h4 col-10 p-0 text-white">
        <label for="exampleFormControlTextarea1">一言コメント</label>
        <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
      <div class="col">
      <button type="submit-col-7" class="float-right btn btn-primary col-2 mt-3 l-3">登録へ</button>
      </div>
  </div>  
</div>    
    