<div class="teams-new">
  <div class="row">
    <div class="col mt-4">
      <%= link_to root_path do %> 
      <button class="float-right mr-3 bg-info btn btn-info">TOPに戻る</button>
      <% end %>
    </div>
  </div>
  <div class="text-center mx-auto bg-primary py-2 shadow col-3 rounded mt-4">
    <h1 class="pt-2">対戦相手DATA</h1>
  </div>