.home-top {
    background-image: url("/suita.st.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
    padding-bottom: 200px;
    height: 100vh;
}