.sessions-new{
    background-image: url("/soccer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	padding-bottom: 200px;
}